<!-- Events Section -->
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Villa Senni - 24 Luglio 2026</h2>
                <p class="text-muted">Gli orari sono ancora in fase di conferma e potrebbero essere aggiornati su questo sito.</p>
                <br></br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/wedding-invitation/img/events/guests.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Accoglienza</h4>
                                <h4 class="subheading">18:00</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">"Uno Stregone non è mai in ritardo, nè in anticipo. Arriva precisamente quando intende farlo" - Gandalf</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/wedding-invitation/img/events/rings.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Cerimonia</h4>
                                <h4 class="subheading">18:00</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">"non possiamo scegliere il nostro destino, ma possiamo scegliere le persone" - Albus Silente</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/wedding-invitation/img/events/drinks.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Aperitivo</h4>
                                <h4 class="subheading">19:00</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">"Se un maggior numero di noi stimasse cibo, allegria e canzoni al di sopra dei tesori d'oro, questo sarebbe un mondo più lieto." - Thorin Scudodiquercia</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/wedding-invitation/img/events/dinner.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Cena</h4>
                                <h4 class="subheading">21</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">"È un'antica ricetta dei mangiacorno. Prendi tutto quello che hai e mettilo in pentola" - Kaladin</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/wedding-invitation/img/events/cake.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Taglio torta e buffet dolci</h4>
                                <h4 class="subheading">23:00</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">"È un'antica ricetta dei mangiacorno. Prendi tutto quello che hai e mettilo in pentola" - Kaladin</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/wedding-invitation/img/events/cocktails.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Open Bar</h4>
                                <h4 class="subheading">Dalle 23:00</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">"Giuro solennemente di non avere buone intenzioni." - La Mappa del Malandrino</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/wedding-invitation/img/events/dance.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>DJ Set</h4>
                                <h4 class="subheading">Dalle 23:00 </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">"È un'antica ricetta dei mangiacorno. Prendi tutto quello che hai e mettilo in pentola" - Kaladin</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>