<section id="about-us">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">

                <h2 class="section-heading">La Nostra Storia</h2>

                <div class="col-lg-8 col-lg-offset-2">

                    <p class="large text-muted" style="margin-bottom:35px;">
                        Dopo anni di avventure incredibili, viaggi, qualche trekking spericolato,
                        lanci&nbsp;di&nbsp;dadi, cacce alle alci, coccole con Nana sul divano
                        e una ristrutturazione affrontata con ottimismo e spirito di sopravvivenza,
                        abbiamo finalmente deciso di fare il grande passo e pronunciare&nbsp;le&nbsp;parole.
                    <sup style="font-size:11px; color:#999;">
                        [cit.&nbsp;<em>La&nbsp;via&nbsp;dei&nbsp;re</em>,&nbsp;Brandon&nbsp;Sanderson]
                    </sup>
                    </p>

                    <p class="large text-muted" style="margin-bottom:30px;">
                        Sapete benissimo quanto siamo eterni indecisi, soprattutto quando si tratta
                        di scegliere i gusti del gelato. Ma questa volta vi abbiamo stupito.
                    </p>

                    <p class="large text-muted" style="margin-bottom:35px;">
                        Ci abbiamo messo solo qualche anno per decidere di sposarci in tre mesi.
                        Non potevamo rischiare la paralisi da analisi* per ogni scelta frivola.
                    </p>

                    <p class="large text-muted" style="margin-bottom:20px;">
                        Siamo felici di poter condividere questa giornata con le persone che ci vogliono bene
                        e che hanno fatto parte del nostro cammino. Sarà tutto perfetto finche ci saremo tutti noi.
                    </p>

                    <p class="large">
                        <strong>Non vediamo l'ora di festeggiare insieme.</strong>
                    </p>

                    <hr style="margin:45px auto 15px auto; width:35%;">

                    <p style="font-size:13px; color:#999; line-height:1.5;">
                        * Paralisi da analisi: condizione che colpisce alcuni giocatori da tavolo,
                        caratterizzata dall'incapacità di scegliere tra due opzioni apparentemente identiche
                        prima che gli altri giocatori invecchino sensibilmente.
                    </p>

                </div>

            </div>
        </div>

    </div>
</section>