<section id="rsvp" class="bg-light-gray">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">

                <h2 class="section-heading">Conferma la tua presenza</h2>
                <br></br>

                <div class="col-lg-8 col-lg-offset-2">

                    <p class="large text-muted">
                        Ci farebbe molto piacere sapere se potrai condividere con noi questa giornata&nbsp;speciale.
                    </p>

                    <p class="large text-muted">
                        Ti chiediamo gentilmente di compilare il modulo di conferma entro il
                        <strong>20&nbsp;giugno&nbsp;2026</strong>. Clicca sul bottone "Conferma Presenza" qui sotto per 
                        accedere al modulo di conferma.
                    </p>

                    <p class="large text-muted">
                        Per aiutarci nell'organizzazione, ti chiediamo di inviare una risposta
                        anche nel caso in cui purtroppo non riuscissi a partecipare.
                    </p>

                    <p class="large text-muted">
                        Se hai già deciso, ti invitiamo a rispondere il prima possibile:
                        fino al 20 giugno sarà comunque possibile inviare una nuova risposta
                        in caso di cambiamenti&nbsp;o&nbsp;imprevisti.
                    </p>

                    <br>

                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeHYggKpuPqDUUZ7EO-dKV545SYm91zKLSW2NzRpt6Qga5oZw/viewform?usp=dialog"
                       class="btn btn-primary btn-l">
                        Conferma presenza
                    </a>

                    &nbsp;&nbsp;

                    <br><br>

                    <p class="text-muted" style="font-size:13px;">
                        Non puoi ancora rispondere ma hai paura di dimenticartene?
                        Aggiungi un promemoria al calendario e ci penserà lui a ricordarti di confermare.
                    </p>

                    <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Ultimo+giorno+per+confermare+la+presenza+Matrimonio+Annalisa+e+Marco&dates=20260620T090000/20260620T093000&details=Ultimo+giorno+per+confermare+la+tua+presenza+al+matrimonio+di+Annalisa+e+Marco+che+si+terra+il+24%2F07%2F2026.%0A%0ASito+del+matrimonio%3A%0Ahttps%3A%2F%2Fannanap.github.io%2Fwedding-invitation%2F%0A%0ALink+per+confermare+la+tua+presenza%3A%0Ahttps%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSeHYggKpuPqDUUZ7EO-dKV545SYm91zKLSW2NzRpt6Qga5oZw%2Fviewform%3Fusp%3Ddialog"
                       class="btn btn-default btn-l">
                        Aggiungi Promemoria
                    </a>
                    <br>

                    <p class="text-muted" style="font-size:13px;">
                        E infine; se sarai dei nostri, perchè non aggiungere un promemoria al tuo Google Calendar? Clicca sul bottone in basso
                    </p>

                    <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Matrimonio+Annalisa+e+Marco&dates=20260724T180000/20260724T240000&details=Sito+del+matrimonio%3A%0Ahttps%3A%2F%2Fannanap.github.io%2Fwedding-invitation%2F%0A%0ALink+per+confermare+la+tua+presenza%3A%0Ahttps%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSeHYggKpuPqDUUZ7EO-dKV545SYm91zKLSW2NzRpt6Qga5oZw%2Fviewform%3Fusp%3Ddialog&location=Villa+Senni%2C+Grottaferrata%2C+RM"
                       class="btn btn-default btn-l">
                        Save The Date
                    </a>
                    
                </div>

            </div>
        </div>

    </div>
</section>