<section id="rsvp" class="bg-light-gray">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">

                <h2 class="section-heading">Conferma la tua presenza</h2>

                <div class="col-lg-8 col-lg-offset-2">

                    <p class="large text-muted">
                        Ci farebbe molto piacere sapere se potrai condividere con noi questa giornata speciale.
                    </p>

                    <p class="large text-muted">
                        Ti chiediamo gentilmente di compilare il modulo di conferma entro il
                        <strong>20 giugno 2026</strong>.
                    </p>

                    <p class="large text-muted">
                        Per aiutarci nell'organizzazione, ti chiediamo di inviare una risposta
                        anche nel caso in cui purtroppo non riuscissi a partecipare.
                    </p>

                    <p class="large text-muted">
                        Se hai già deciso, ti invitiamo a rispondere il prima possibile:
                        fino al 20 giugno sarà comunque possibile inviare una nuova risposta
                        in caso di cambiamenti o imprevisti.
                    </p>

                    <br>

                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeHYggKpuPqDUUZ7EO-dKV545SYm91zKLSW2NzRpt6Qga5oZw/viewform?usp=dialog"
                       class="btn btn-primary btn-xl">
                        Conferma la tua presenza
                    </a>

                    &nbsp;&nbsp;

                    <a href="{{ site.baseurl }}/calendar/promemoria-rsvp.ics"
                       class="btn btn-default btn-xl">
                        Non farmelo dimenticare
                    </a>

                    <br><br>

                    <p class="text-muted" style="font-size:13px;">
                        Hai paura di dimenticartene?
                        Aggiungi un promemoria al calendario e ci penserà lui.
                    </p>

                </div>

            </div>
        </div>

    </div>
</section>